@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #071b3a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
}

button {
  transition: all 0.2s ease;
}

a:hover,
button:hover {
  opacity: 0.92;
  transform: translateY(-1px);
}

::selection {
  background: #2378ff;
  color: white;
}

section {
  overflow: hidden;
  scroll-margin-top: 140px;
}

.container-lumya {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 24px;
}